<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>License</title>
</head>
<body>
<p th:text="${license.userEmail}"></p>
<p th:text="${license.licenseValue}"></p>
<p th:text="${license.getLicenseStatus()}"></p>
<p th:text="${license.getTrialStatus()}"></p>
<p th:text="${license.getCreatedBy()}"></p>
<p th:text="${license.getDateOfCreation()}"></p>
<p th:text="${license.getExpiredDate()}"></p>

<a th:href="@{/licenses/{user_email}/edit(user_email=${license.userEmail})}">Edit</a>
<form th:method="DELETE" th:action="@{/licenses/{user_email}(user_email=${license.userEmail})}" th:object="${license}">
    <input type="submit" value="Delete" >
</form>
</body>
</html>